~*.pyc
.DS_Store
**.pyc
.venv/**
venv/**
data/combined_deduplicated_clean_ags.csv
data/mira.csv
conga/**
results/**
results_publication/**
results_publication2/**
results_publication2/**/**
.RHistory
functions/GIANA/input.txt
functions/GIANA/input_clustered.txt
functions/gliph2/lib/metarepertoire.txt
functions/gliph2/lib/metarepertoire_cluster.csv
functions/gliph2/lib/metarepertoire_cluster.txt
functions/gliph2/lib/metarepertoire_score.txt
functions/ismart/lib/input.txt
functions/ismart/lib/input_clustered_v3.txt
**.ipynb