Package             Version
------------------- -----------------
anarci              1.3
anndata             0.9.2
biopython           1.78
certifi             2023.7.22
clusTCR             1.0.2+17.gdb12543
contourpy           1.1.0
cycler              0.11.0
dill                0.3.7
faiss               1.7.4
feather-format      0.4.1
fisher              0.1.10
fishersapi          0.5
fonttools           4.41.1
ghostscript         0.7
h5py                3.9.0
hierdiff            0.9
importlib-resources 6.0.0
install             1.3.5
Jinja2              3.1.2
joblib              1.3.0
kiwisolver          1.4.4
llvmlite            0.40.1
markov-clustering   0.0.6.dev0
MarkupSafe          2.1.3
matplotlib          3.7.2
munkres             1.1.4
natsort             8.4.0
networkx            3.1
numba               0.57.1
numexpr             2.8.4
numpy               1.24.4
olga                1.2.4
packaging           23.1
palmotif            0.4
pandas              2.0.3
parasail            1.3.4
parmap              1.6.0
patsy               0.5.3
Pillow              10.0.0
pip                 23.2.1
progress            1.6
pwseqdist           0.6
py-cpuinfo          9.0.0
pyarrow             12.0.1
pynndescent         0.5.10
pyparsing           3.0.9
python-dateutil     2.8.2
python-louvain      0.16
pytz                2023.3
scanpy              1.9.3
scikit-learn        1.3.0
scipy               1.8.0
seaborn             0.12.2
session-info        1.0.0
setuptools          68.0.0
six                 1.16.0
statsmodels         0.14.0
stdlib-list         0.9.0
svgwrite            1.4.3
tables              3.8.0
tcrdist3            0.2.2
tcrsampler          0.1.9
threadpoolctl       3.2.0
tornado             6.3.2
tqdm                4.65.0
typing_extensions   4.7.1
tzdata              2023.3
umap-learn          0.5.3
unicodedata2        15.0.0
weblogo             3.7.12
wheel               0.41.0
zipdist             0.1.5
zipp                3.16.2
